
/* <!-- -----------------------------------Upload Prescription Process Start ------------------> */
.uplo-pres {
    margin-top: 8px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  
  
  .prescri-img {
    text-align: center;
  }
  
  .prescri-img img {
    width: 100px;
  }
  
  .uplo-pres .pp{
    /* border: 2px solid red; */
    margin-left: 60px;
  }
  .uplo-pres .pp h3 {
    margin-top: 0;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    
  }
  
  .uplo-pres .pp p {
    margin-top: 5px;
    color: #333;
  }
  
  .uplo-pres .pp button {
    background-color: #10847e;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  .uplo-pres .pp button i{
    color: white;
  }
  .uplo-pres .pp button:hover {
    background-color: #c82333;
  }
  
  .yy:last-child {
    border-left: 1px solid #e9ecef;
  }
  
  .njk{
    /* border: 2px solid red; */
    margin-top: -25px;
  }
  .uplo-pres-process {
    margin-top: 10px;
  }
  
  .uplo-pres .yy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 29px;
  border-radius: 8px 0 0 8px;
  background-color: #EEF4FF;
  /* border-right: 1px solid rgb(82, 58, 58); */
  }
  .uplo-pres .zz i{
    font-size: 25px;
    color: #10847e;
    margin-right: 10px;
  }
  
  .zz p{
    font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  }
  @media (max-width: 768px) {
  .zz {
  border-top: 2px solid rgba(77, 68, 68, 0.082);
  }
  }
  /* <!-- -----------------------------------Upload Prescription Process Start ------------------> */
  